.header {
    position: relative;
    background-color: var(--primary-white-color);
    border-bottom: 1px solid #ececec;
    
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .mobile-menu-btn {
            background-color: transparent;
            border: none;
            padding: 0;
            line-height: 0;
    
            &:hover,
            &:focus {
                fill: var(--accent-color);
            }
        }
    
}

@media screen and (min-width: 768px) {
    .mobile-menu-btn {
        display: none;    
    }
    
    .main-nav,
    .header__nav {
        display: flex;
        align-items: center;
    }
}




