@media screen and (max-width: 767px) {
    .mobile-contact-list {
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 64px;
    }
    
    .mobile-contact-list__item:not(:last-child) {
        margin-bottom: 32px;
    
    }
    
    .mobile-contact-list__link-tel {
        font-size: 34px;
        line-height: 1.18;
        color: var(--accent-color);
    }
    
    .mobile-contact-list__link-mail {
        font-size: 24px;
        line-height: 1.18;
        color: var(--text-color);
    
    }
}

@media screen and (max-width: 479px) {
    .mobile-contact-list {
        margin-bottom: 42px;
    }

    .mobile-contact-list__item:not(:last-child) {
        margin-bottom: 20px;
    }

    .mobile-contact-list__link-tel {
        font-size: 24px;
    }

    .mobile-contact-list__link-mail {
        font-size: 18px;
    }
}

