:root {
    --primary-white-color: #ffffff;
    --primary-background-color: #f5f5f5;
    --alt-background-color: #f5f4fa;
    --dark-background-color: #2f303a;
    --alt-dark-background-color: #c4c4c4;
    --primary-black-color: #000000;
    --accent-color: #2196f3;
    --title-text-color: #212121;
    --text-color: #757575;
    --social-network-color: #afb1b8;
    --card-gap: 30px;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --time-animation: 250ms;
    --primary-title-font: Roboto;
    --alt-title-font: sans-serif;
    --alt-font: Raleway;
}